body {
    background-color: rgb(184, 132, 46);
}

/* z-index helps with positioning and layering of elements */
#back-wall {
    background-color: #8B4513;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#offwhite-character {
    width: 300px;
    height: 550px;
    background-color: GhostWhite;
    position: absolute;
    left: 17.5%;
    top: 20%;
}

#white-hat {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 140px 180px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: GhostWhite;
    position: absolute;
    left: 0;
    top: -140px;
}

#black-mask {
    width: 100%;
    height: 50px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#gray-instrument {
    width: 15%;
    height: 40%;
    background-color: rgb(167, 162, 117);
    position: absolute;
    left: 125px;
    top: 50px;
    z-index: 1;
}

.black-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 31, 19);
    border-radius: 50%;
    display: block;
    margin-top: 65%;
    margin: auto;
}

#tan-table {
    width: 450px;
    height: 140px;
    background-color: #D2691E;
    position: absolute;
    left: 15px;
    top: 275px;
    z-index: 1;
}

#black-character {
    width: 300px;
    height: 500px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    left: 59%;
    top: 30%;
}

#black-hat {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 0 300px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: rgb(45, 31, 19);
    border-bottom-color: transparent;
    position: absolute;
    left: 0;
    top: -150px;
}

#gray-mask {
    width: 150px;
    height: 150px;
    background-color: rgb(167, 162, 117);
    position: absolute;
    left: 70px;
    top: -10px;
}

#white-paper {
    width: 400px;
    height: 100px;
    background-color: GhostWhite;
    position: absolute;
    left: -150px;
    top: 250px;
    z-index: 1;
}

.fa-music {
    display: inline-block;
    margin-top: 8%;
    margin-left: 13%;
}

.blue {
    background-color: #1E90FF;
}

#blue-left {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 20%;
}

#blue-right {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 50%;
}

#orange-character {
    width: 250px;
    height: 550px;
    background-color: rgb(240, 78, 42);
    position: absolute;
    top: 25%;
    left: 40%;
}

#black-round-hat {
    width: 180px;
    height: 150px;
    background-color: rgb(45, 31, 19);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 5px;
    z-index: -1;
}

#eyes-div {
    width: 180px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: -40px;
    z-index: 3;
}

#triangles {
    width: 250px;
    height: 550px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 42px 45px 45px 0;
    border-top-color: transparent;
    border-right-color: Gold;
    border-bottom-color: transparent;
    border-left-color: transparent;
    display: inline-block;
}

#guitar {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 0px;
    z-index: 3;
}

.guitar {
    width: 150px;
    height: 120px;
    background-color: Goldenrod;
    border-radius: 50%;
}

#guitar-left {
    position: absolute;
    left: 0px;
}

#guitar-right {
    position: absolute;
    left: 100px;
}


.fa-bars {
    display: block;
    margin-top: 30%;
    margin-left: 40%;
}


